
.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.card {
    transform-style: preserve-3d;
    min-height: 70vh;
    width: 25rem;
    border-radius: 30px;
    padding: 0rem 3rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0px 50px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.image {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    width: 20rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle {
    width: 17rem;
    height: 12rem;
    background: linear-gradient(
        to left,
        rgba(71, 70, 70, 0.897),
        rgba(245, 103, 9, 0.87)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info h1{
    font-size: 27px;
    padding: 1rem 0rem;
    transition: all 0.75s ease-out;
}

.info p {
    font-size: 20px;   
    padding: 1rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}